:root {
  background-color: #E5E5E5;
  --black: #000000;
  --white: #FFFFFF;
  --yellow: #FEBD2F;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto;
  font-weight: 400;
}

button {
  padding: 10px 20px;
  border-radius: 25px;
}

.grid-container{
  display: grid;
  grid-template-rows: 1fr 3fr 5fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "landing"
  "card-container"
  "footer"
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: header;
  padding: 0 50px;
  grid-column: 1/-1;
}

.nav-links {
  display: flex;
  width: 25%;
  gap:20px;
}

.nav-links a {
  text-decoration: none;
}

.header button {
  background-color: var(--black);
  color: var(--white);
  font-size: 16px;
}

.landing {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-area: landing;
  padding: 10px 50px;
  grid-template-areas:
  "landing-text landing-image";
}

.landing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: landing-text;
  width: 90%;
  margin-inline: auto;
}

.landing-text h1 {
  font-family: "roboto serif";
  font-weight: 500;
  font-size: 64px;
  grid-area: header;
}

.landing-image {
  display: flex;
  justify-content: center;
  grid-area: landing-image;
}

.landing-image img{
  width: 85%
}

.card-container {
  grid-area: card-container;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, auto);
  padding: 0 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10%;
  background-color: pink;
  height: 90%;
  width: 85%;
  font-size: 18px;
  text-align: center;
  border-radius: 10%;
  margin: 25px;
  position: relative;
}

.card h3 {
  font-family: "roboto serif";
  font-weight: 700;
  font-size: 24px;
}

.card button{
  font-size: 18px;
  border: none;
  outline: 0.5px solid grey;
}

.card img{
  width: 65px;
  position: absolute;
  right: 30px;
  top: -30px;
}

.yellow-card{
  justify-content: center;
  background-color: var(--yellow);
  font-family: "roboto serif";
  font-weight: 500;
  font-size: 40px;
}

.white-card{
  background-color: var(--white);
}

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--yellow);
  margin: 45px 0 0 0;
  grid-area: footer;
}

.footer img{
  width: 15%;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}